# Environment
.env
venv/
__pycache__/
*.pyc
node_modules/
build/
backend/nukeno_env/
backend/venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Database
*.json
!backend/db/data.json
!frontend/package.json
!package.json
